<div class="aa-collection">
  {% comment %} <div class="aa-picture" style="background-image: url('[[# helpers.iconImage ]][[/ helpers.iconImage ]]')"></div> {% endcomment %}
  <div class="aa-collection-text">
    <div class="icon-wrap">
      <i class="fa-solid fa-tags"></i>
    </div>
    <span class="aa-collection-title">[[& _highlightResult.title.value ]]</span>
  </div>
</div>
