<div class="aa-page">
  {% comment %} <div class="aa-picture" style="background-image: url('[[# helpers.iconImage ]][[/ helpers.iconImage ]]')"></div> {% endcomment %}
  <div class="aa-page-text">
    <div class="icon-wrap">
      <i class="fa-solid fa-file"></i>
    </div>
    <p class="aa-page-title">[[& _highlightResult.title.value ]]</p>
  </div>
</div>