<!-- <div class="aa-article">
  <div class="aa-article-text">
    <div class="icon-wrap">
      <i class="fa-solid fa-file-alt"></i>
    </div>
    <p class="aa-article-title">
      [[& _highlightResult.title.value ]]
    </p>
  </div>
</div>
 -->