<div data-algolia-index="[[ _index ]]" data-algolia-position="[[ _position ]]" data-algolia-queryid="[[ queryID ]]" data-algolia-objectid="[[ objectID ]]" class="aa-product">
  {% comment %} <div class="aa-product-picture" style="background-image: url('[[# helpers.thumbImage ]][[/ helpers.thumbImage ]]')"></div> {% endcomment %}
  <div class="aa-product-text">
    <div class="icon-wrap">
      <i class="fa-solid fa-tag"></i>
    </div>
    <p class="aa-product-title">
      [[# helpers.fullHTMLTitle ]][[/ helpers.fullHTMLTitle ]]
    </p>
    {% comment %} <p class="aa-product-info">
      [[# product_type ]]
        [[& _highlightResult.product_type.value ]]
      [[/ product_type ]]
      [[# vendor ]]
        [[# helpers.by ]] [[& _highlightResult.vendor.value ]] [[/ helpers.by ]]
      [[/ vendor ]]
    </p> {% endcomment %}
    {% comment %} <p class="aa-product-price">
      [[# helpers.autocompletePrice ]][[/ helpers.autocompletePrice ]]
    </p> {% endcomment %}
  </div>
</div>

