<div class="
  [[# with.articles ]] aa-with-articles [[/ with.articles ]]
  [[^ with.articles ]] aa-without-articles [[/ with.articles ]]

  [[# with.products ]] aa-with-products [[/ with.products ]]
  [[^ with.products ]] aa-without-products [[/ with.products ]]
">
  <div class="aa-dataset-products"></div>
  <div class="aa-dataset-collections"></div>
  <div class="aa-dataset-articles"></div>
  <div class="aa-dataset-pages"></div>
  <div class="aa-footer">{{ 'apps.algolia.enter_for_results' | t }}</div>
</div>