<svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
  <title>Zoom In Icon</title>
  <g>
    <path d="M19.4855 20.1539L13.224 13.8924C12.724 14.318 12.149 14.6475 11.499 14.8808C10.849 15.1142 10.1958 15.2308 9.53937 15.2308C7.9377 15.2308 6.58216 14.6764 5.47274 13.5676C4.36331 12.4588 3.80859 11.104 3.80859 9.50319C3.80859 7.90239 4.363 6.54654 5.47182 5.43564C6.58064 4.32474 7.93544 3.76929 9.53624 3.76929C11.1371 3.76929 12.4929 4.324 13.6038 5.43341C14.7147 6.54283 15.2701 7.89838 15.2701 9.50006C15.2701 10.1949 15.1471 10.8674 14.9009 11.5174C14.6548 12.1674 14.3317 12.7231 13.9317 13.1847L20.1932 19.4462L19.4855 20.1539ZM9.53937 14.2308C10.8663 14.2308 11.9865 13.7741 12.8999 12.8606C13.8134 11.9472 14.2701 10.827 14.2701 9.50006C14.2701 8.17315 13.8134 7.05296 12.8999 6.13949C11.9865 5.22602 10.8663 4.76929 9.53937 4.76929C8.21245 4.76929 7.09226 5.22602 6.17879 6.13949C5.26534 7.05296 4.80862 8.17315 4.80862 9.50006C4.80862 10.827 5.26534 11.9472 6.17879 12.8606C7.09226 13.7741 8.21245 14.2308 9.53937 14.2308ZM9.03937 11.8847V10.0001H7.15477V9.00006H9.03937V7.11544H10.0394V9.00006H11.924V10.0001H10.0394V11.8847H9.03937Z" fill="black"/>
  </g>
</svg>
  