<div class="tac block-grid block-grid--index cell-l cell-r flex column-nowrap gap--d2 lh-s">
  {% if heading != blank %}
    <h2 class="h-style t-lxl @mobile__t-l">{{ heading }}</h2>
  {% endif %}
  {% if sub_heading != blank %}
    <p class="t-rm m-0">{{ sub_heading }}</p>
  {% endif %}
</div>