{%- if collection.image -%}
  <section class="wayfx-collection__header-with-image">
    {% render 'collection.header-with-image' %}
  </section>
{%- else -%}
  <section class="wayfx-collection__header">
    {% render 'collection.header' %}
  </section>
{%- endif -%}

{% if settings.d2__collection__show %}
  <div class="js-collection-aov collection-aov-bar wayfx-collection__progress">
    <div class="wayfx-wrapper">
      <global-cart-progress-bar class="d-block"></global-cart-progress-bar>
    </div>
  </div>
{% endif %}
  
{% schema %}
  {
    "name": "collection/header",
    "enabled_on":{
      "templates":["collection"]
    },
    "settings": [
     
    ],
    "blocks": [
    ]    
}
{% endschema %}