<section class="wayfx-block wayfx-block--page-content wayfx-block--page-content--condensed rte">
    <div class="wayfx-wrapper">
        {{ page.content }}
    </div>
</section>

{% schema %}
{
    "name": "Standard Page Content",
    "presets": [
      {
        "name": "Page Content"
      }
    ],
    "settings": [
    ]
}
{% endschema %}
