<div>

</div>

<!-- <div>
  <div class="stats-title">
    <h1 class="gs_reveal">Visible Results</h1>
    <h2>AFTER 4 WEEKS USING CRYSTAL RETINAL 6</h2>
    <p>In a trial of 20 people using Crystal Retinal 6 over 4 weeks</p>
  </div>

  <div class="stats">
    <div class="stat-block">
        <h4>SMOOTHER</h4>
        <div class="circle">
          <span>95%</span>
        </div>
        <p>Reported smoother skin texture</p>
    </div>
    <div class="stat-block">
        <h4>MORE RADIANT</h4>
        <div class="circle">
          <span>85%</span>
        </div>
        <p>Said that overall skin tone was improved and complexion was left clarified</p>
    </div>
    <div class="stat-block">
        <h4>MORE REFINED</h4>
        <div class="circle">
          <span>75%</span>
        </div>
        <p>Felt that the appearance of fine lines were significantly reduced</p>
    </div>
  </div>
</div> -->

{% schema %}
  {
    "name": "MOS2.0 Stat Bar",
    "class": "mos2--section dark mos2--stat-bar",
    "tag": "section",
    "presets": [
      {
        "name": "MOS2.0 Stat Bar"
      }
    ],
    "settings": [
      {
        "id": "title",
        "type": "text",
        "label": "Title"
      }
    ]
  }
{% endschema %}
