<div class="password-content">
  <section class="wayfx-block wayfx-block--footer-social">
    <div class="wayfx-wrapper">
      {% if section.settings.show_share_buttons %}
        <div class="password-social-sharing">
          <p class="password__form-heading h4">{{ section.settings.social_message | escape }}</p>
          {% render "social-links" %}
        </div>
      {% endif %}
    </div>
  </section>
</div>


{% schema %}
{
  "name": "Footer",
  "settings": [
    {
      "type": "checkbox",
      "id": "show_share_buttons",
      "label": "Show social sharing buttons",
      "default": true
    },
    {
      "type": "text",
      "id": "social_message",
      "label": "Social sharing buttons heading",
      "default":"Spread the word"
    }
  ],
  "enabled_on": {
    "templates": ["password"]
  }
}
{% endschema %}
