<div class="password-content">
  <div class="wayfx-header__logo password_logo" itemscope itemtype="http://schema.org/Organization">
    <a href="{{ shop.url }}" itemprop="url" class="wayfx-header__logo-link">
      <img loading="lazy" width="250" height="57" src="{{ 'logo.png' | asset_img_url: '500x' }}" alt="{{ shop.name }}" itemprop="logo">
    </a>
    <p>{{ section.settings.header }}</p>
  </div>
</div>

{% schema %}
{
  "name": "Header",
  "settings": [
    {
      "type": "text",
      "id": "header",
      "label": "Heading",
      "default": "Coming Soon"
    }
  ],
  "enabled_on": {
    "templates": ["password"]
  }
}
{% endschema %}
