<div class="password-content password-content--rte">
    <div class="password__subheading rte" id="password-glass-block">
      <span class="password-content__title">{{ section.settings.password_heading }}</span>
      {{ section.settings.password_subheading }}
    </div>
    <small>{{ section.settings.password_smallprint }}</small>
</div>

{% comment %} TODO - Introduce an newsletter subscription section  {% endcomment %}
{% schema %}
{
  "name": "Content",
  "settings": [
    {
      "type": "text",
      "id": "password_heading",
      "label": "Heading",
      "default": "Scheduled Maintenance"
    },
    {
      "type": "richtext",
      "id": "password_subheading",
      "label": "Subheading",
      "default": "<p>Promotions, new products and sales. Directly to your inbox.</p>"
    },
    {
      "type": "inline_richtext",
      "id": "password_smallprint",
      "label": "Small Print"
    }
  ],
  "enabled_on": {
    "templates": ["password"]
  }
}
{% endschema %}
