.wayfx-block--hero-slider .wayfx-hero-slider--normal .wayfx-wrapper {
  min-height: 600px;
}

@media only screen and (min-width: 2000px) {
  .wayfx-block--hero-slider .wayfx-hero-slider--normal .wayfx-wrapper {
    min-height: 700px;
  }
}

.background-video-wrapper {
  position: relative;
  overflow: hidden;
  max-width: 100%;
  height: 600px;
  padding: 0;
}

.background-video-wrapper .wayfx-hero-slider__column {
  z-index: 9;
  position: absolute;
  text-align: center;
  background: radial-gradient(rgba(0, 0, 0, 0.5), transparent);
  width: 100%;
  max-width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.background-video-wrapper .wayfx-hero-slider__column video {
  position: absolute;
  min-width: 100%;
  min-height: 100%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@media (max-width: 767px) {
  .background-video-wrapper {
    height: 530px;
  }
}


#shopify-privacy-banner-button-div {
  margin-top: 12px;
}

#shopify-privacy-banner-div {
  background-color: #e6e6e6 !important;
}

#shopify-privacy-banner {
  background-color: #e6e6e6 !important;
}
