.site-wide--label {
  color: var(--site-wide--label-text-color);
  background: var(--site-wide--label-background-color) !important;
  margin: 0 2px;
  padding: 2px 15px;
  border-radius: 18px; }

.wayfx-product__photos-wrapper .site-wide--label {
  position: absolute; }

.wayfx-badge--discount.site-wide--label {
  top: -6px;
  right: -6px;
  text-transform: capitalize !important; }

.medk8-product--price-box .site-wide--label {
  font-size: 0.4em;
  padding: 3px 10px; }

.wayfx-product__item .wayfx-badge.wayfx-badge--discount {
  z-index: 1; }

.slashed-price {
  text-decoration: line-through;
  color: #b1b1b1 !important; }

.DiscountedPrice {
  font-size: 1.5rem;
  margin-right: 1rem;
  color: black; }

.medk8-product--price-box #DiscountLabel {
  margin-right: 1rem;
  top: 0px; }
  .medk8-product--price-box #DiscountLabel .site-wide--label {
    font-size: 0.7em;
    padding: 5px 10px; }

.template-collection .wayfx-main .wayfx-collection__progress,
.template-product .wayfx-main .wayfx-collection__progress,
.template-list-collections .wayfx-main .wayfx-collection__progress,
.wayfx-product .wayfx-collection__progress {
  padding: 32px 0;
  position: initial;
  top: 105px;
  transition: all 0.2s ease;
  z-index: 8; }
  @media all and (max-width: 1023px) {
    .template-collection .wayfx-main .wayfx-collection__progress,
    .template-product .wayfx-main .wayfx-collection__progress,
    .template-list-collections .wayfx-main .wayfx-collection__progress,
    .wayfx-product .wayfx-collection__progress {
      margin-bottom: 20px;
      padding: 16px 0;
      padding-top: 32px;
      top: 70px; }
      .template-collection .wayfx-main .wayfx-collection__progress.sticky,
      .template-product .wayfx-main .wayfx-collection__progress.sticky,
      .template-list-collections .wayfx-main .wayfx-collection__progress.sticky,
      .wayfx-product .wayfx-collection__progress.sticky {
        padding: 16px 0;
        padding-top: 30px; } }

.template-collection .wayfx-main .wayfx-collection__progress-header,
.template-product .wayfx-main .wayfx-collection__progress-header,
.template-list-collections .wayfx-main .wayfx-collection__progress-header,
.wayfx-product .wayfx-collection__progress-header {
  font-size: 16px;
  letter-spacing: 0.11px;
  margin-bottom: 16px; }
  @media all and (max-width: 768px) {
    .template-collection .wayfx-main .wayfx-collection__progress-header,
    .template-product .wayfx-main .wayfx-collection__progress-header,
    .template-list-collections .wayfx-main .wayfx-collection__progress-header,
    .wayfx-product .wayfx-collection__progress-header {
      font-size: 13px;
      letter-spacing: 0.09px;
      margin-bottom: 8px; } }

.template-collection .wayfx-main .wayfx-collection__progress-wrapper,
.template-product .wayfx-main .wayfx-collection__progress-wrapper,
.template-list-collections .wayfx-main .wayfx-collection__progress-wrapper,
.wayfx-product .wayfx-collection__progress-wrapper {
  height: 24px; }
  @media all and (max-width: 768px) {
    .template-collection .wayfx-main .wayfx-collection__progress-wrapper,
    .template-product .wayfx-main .wayfx-collection__progress-wrapper,
    .template-list-collections .wayfx-main .wayfx-collection__progress-wrapper,
    .wayfx-product .wayfx-collection__progress-wrapper {
      height: 16px; } }
  .template-collection .wayfx-main .wayfx-collection__progress-wrapper li,
  .template-product .wayfx-main .wayfx-collection__progress-wrapper li,
  .template-list-collections .wayfx-main .wayfx-collection__progress-wrapper li,
  .wayfx-product .wayfx-collection__progress-wrapper li {
    margin: 0; }
  .template-collection .wayfx-main .wayfx-collection__progress-wrapper .wayfx-collection__progress-bar,
  .template-product .wayfx-main .wayfx-collection__progress-wrapper .wayfx-collection__progress-bar,
  .template-list-collections .wayfx-main .wayfx-collection__progress-wrapper .wayfx-collection__progress-bar,
  .wayfx-product .wayfx-collection__progress-wrapper .wayfx-collection__progress-bar {
    height: 24px; }
    @media all and (max-width: 768px) {
      .template-collection .wayfx-main .wayfx-collection__progress-wrapper .wayfx-collection__progress-bar,
      .template-product .wayfx-main .wayfx-collection__progress-wrapper .wayfx-collection__progress-bar,
      .template-list-collections .wayfx-main .wayfx-collection__progress-wrapper .wayfx-collection__progress-bar,
      .wayfx-product .wayfx-collection__progress-wrapper .wayfx-collection__progress-bar {
        height: 16px; } }

.template-collection .wayfx-main .wayfx-collection__progress-steps ul li,
.template-product .wayfx-main .wayfx-collection__progress-steps ul li,
.template-list-collections .wayfx-main .wayfx-collection__progress-steps ul li,
.wayfx-product .wayfx-collection__progress-steps ul li {
  font-size: 14px; }
  .template-collection .wayfx-main .wayfx-collection__progress-steps ul li:before, .template-collection .wayfx-main .wayfx-collection__progress-steps ul li:after,
  .template-product .wayfx-main .wayfx-collection__progress-steps ul li:before,
  .template-product .wayfx-main .wayfx-collection__progress-steps ul li:after,
  .template-list-collections .wayfx-main .wayfx-collection__progress-steps ul li:before,
  .template-list-collections .wayfx-main .wayfx-collection__progress-steps ul li:after,
  .wayfx-product .wayfx-collection__progress-steps ul li:before,
  .wayfx-product .wayfx-collection__progress-steps ul li:after {
    height: 24px;
    top: -24px;
    width: 24px; }
    @media all and (max-width: 768px) {
      .template-collection .wayfx-main .wayfx-collection__progress-steps ul li:before, .template-collection .wayfx-main .wayfx-collection__progress-steps ul li:after,
      .template-product .wayfx-main .wayfx-collection__progress-steps ul li:before,
      .template-product .wayfx-main .wayfx-collection__progress-steps ul li:after,
      .template-list-collections .wayfx-main .wayfx-collection__progress-steps ul li:before,
      .template-list-collections .wayfx-main .wayfx-collection__progress-steps ul li:after,
      .wayfx-product .wayfx-collection__progress-steps ul li:before,
      .wayfx-product .wayfx-collection__progress-steps ul li:after {
        height: 16px;
        top: -16px;
        width: 16px; } }
  @media all and (min-width: 768px) {
    .template-collection .wayfx-main .wayfx-collection__progress-steps ul li .wayfx-text.wayfx-free-shipping,
    .template-product .wayfx-main .wayfx-collection__progress-steps ul li .wayfx-text.wayfx-free-shipping,
    .template-list-collections .wayfx-main .wayfx-collection__progress-steps ul li .wayfx-text.wayfx-free-shipping,
    .wayfx-product .wayfx-collection__progress-steps ul li .wayfx-text.wayfx-free-shipping {
      margin-top: 12px; } }
  @media all and (max-width: 768px) {
    .template-collection .wayfx-main .wayfx-collection__progress-steps ul li .wayfx-text,
    .template-product .wayfx-main .wayfx-collection__progress-steps ul li .wayfx-text,
    .template-list-collections .wayfx-main .wayfx-collection__progress-steps ul li .wayfx-text,
    .wayfx-product .wayfx-collection__progress-steps ul li .wayfx-text {
      font-size: 0.7em;
      line-height: 1.2; }
      .template-collection .wayfx-main .wayfx-collection__progress-steps ul li .wayfx-text span,
      .template-product .wayfx-main .wayfx-collection__progress-steps ul li .wayfx-text span,
      .template-list-collections .wayfx-main .wayfx-collection__progress-steps ul li .wayfx-text span,
      .wayfx-product .wayfx-collection__progress-steps ul li .wayfx-text span {
        font-size: 12px; }
    .template-collection .wayfx-main .wayfx-collection__progress-steps ul li .step-left .wayfx-text,
    .template-product .wayfx-main .wayfx-collection__progress-steps ul li .step-left .wayfx-text,
    .template-list-collections .wayfx-main .wayfx-collection__progress-steps ul li .step-left .wayfx-text,
    .wayfx-product .wayfx-collection__progress-steps ul li .step-left .wayfx-text {
      text-align: left !important; } }

.drawer .wayfx-collection__progress {
  display: none;
  padding: 12px 0; }

.drawer.drawer--has-progress-bar .wayfx-collection__progress {
  display: block; }

.drawer .wayfx-collection__progress-header {
  font-size: 13px;
  letter-spacing: 0.11px;
  margin-bottom: 8px; }

.drawer .wayfx-collection__progress-wrapper {
  height: 20px; }
  @media all and (max-width: 768px) {
    .drawer .wayfx-collection__progress-wrapper {
      height: 18px; } }
  .drawer .wayfx-collection__progress-wrapper li {
    margin: 0; }
  .drawer .wayfx-collection__progress-wrapper li:last-child {
    padding-right: 8px; }
  .drawer .wayfx-collection__progress-wrapper .wayfx-collection__progress-bar {
    height: 20px; }
    @media all and (max-width: 768px) {
      .drawer .wayfx-collection__progress-wrapper .wayfx-collection__progress-bar {
        height: 18px; } }

.drawer .wayfx-collection__progress-steps ul li {
  font-size: 11px;
  line-height: 14px; }
  .drawer .wayfx-collection__progress-steps ul li .wayfx-text span {
    display: block; }
  .drawer .wayfx-collection__progress-steps ul li:before, .drawer .wayfx-collection__progress-steps ul li:after {
    height: 20px;
    top: -20px;
    width: 20px; }
    @media all and (max-width: 768px) {
      .drawer .wayfx-collection__progress-steps ul li:before, .drawer .wayfx-collection__progress-steps ul li:after {
        height: 18px;
        top: -18px;
        width: 18px; } }
  @media all and (max-width: 768px) {
    .drawer .wayfx-collection__progress-steps ul li {
      text-align: right; } }

.template-collection .wayfx-main .collection-aov-bar,
.template-list-collections .wayfx-main .collection-aov-bar {
  margin-bottom: 16px;
  position: sticky;
  position: -webkit-sticky;
  top: 105px;
  transition: all .2s ease;
  z-index: 8; }
  .template-collection .wayfx-main .collection-aov-bar.sticky,
  .template-list-collections .wayfx-main .collection-aov-bar.sticky {
    box-shadow: 0 2px 16px 0 rgba(0, 0, 0, 0.17);
    padding: 0px 0;
    margin: 0; }

.wayfx-collection__progress {
  background: #fff; }
  .wayfx-collection__progress .wayfx-wrapper {
    max-width: 837px; }
    @media all and (max-width: 767px) {
      .wayfx-collection__progress .wayfx-wrapper {
        padding-left: 21px;
        padding-right: 21px; } }
  .wayfx-collection__progress .wayfx-collection__progress-header {
    color: #262626;
    text-align: center; }
    @media all and (max-width: 768px) {
      .wayfx-collection__progress .wayfx-collection__progress-header {
        font-size: 13px;
        letter-spacing: 0.09px; } }
    .wayfx-collection__progress .wayfx-collection__progress-header strong {
      font-family: "ridley_groteskbold", sans-serif;
      font-weight: 400; }
  .wayfx-collection__progress .wayfx-collection__progress-wrapper {
    align-items: center;
    background: var(--progress--color-secondary-lighten);
    border-radius: 12px;
    display: flex;
    list-style: none;
    margin: 0;
    overflow: hidden;
    padding: 0; }
    .wayfx-collection__progress .wayfx-collection__progress-wrapper > li {
      flex: 1;
      overflow: hidden;
      margin: 0; }
    .wayfx-collection__progress .wayfx-collection__progress-wrapper .wayfx-collection__progress-bar {
      background: url("https://cdn.medik8.com/f3b762a8-adbe-4f3f-8425-97b09363b2de/diagnol.png") repeat-x center top/contain, linear-gradient(270deg, var(--progress--color-primary) 0%, var(--progress--color-secondary) 35%, var(--progress--color-primary) 100%);
      border-radius: 0 15.5px 15.5px 0;
      position: relative;
      transition: width 0.3s ease-in-out;
      width: 0;
      height: 20px; }
      .wayfx-collection__progress .wayfx-collection__progress-wrapper .wayfx-collection__progress-bar.completed {
        transition: none; }
  .wayfx-collection__progress .wayfx-collection__progress-steps ul {
    display: flex;
    justify-content: space-between;
    list-style: none;
    margin: 0; }
    .wayfx-collection__progress .wayfx-collection__progress-steps ul li {
      color: #202324;
      font-family: "ridley_groteskmedium", sans-serif;
      text-align: center;
      flex: 1;
      flex-basis: auto;
      letter-spacing: 0.5px;
      position: relative;
      text-align: right;
      text-transform: uppercase; }
      .wayfx-collection__progress .wayfx-collection__progress-steps ul li:before, .wayfx-collection__progress .wayfx-collection__progress-steps ul li:after {
        content: "";
        display: block;
        margin-left: auto;
        margin-bottom: 4px;
        position: absolute;
        right: 0;
        height: 20px;
        top: -20px;
        width: 20px; }
      .wayfx-collection__progress .wayfx-collection__progress-steps ul li:before {
        background: white url("https://cdn.medik8.com/9edfab20-e57c-4af4-be85-10778f90e524/lock.svg") no-repeat center center/contain;
        border-radius: 100%; }
      .wayfx-collection__progress .wayfx-collection__progress-steps ul li:after {
        background: url("https://cdn.medik8.com/8c222a26-0a68-45c2-b499-d3402b0e6c67/unlock.svg") no-repeat center center/contain;
        visibility: hidden; }
      .wayfx-collection__progress .wayfx-collection__progress-steps ul li .wayfx-text {
        display: block;
        font-size: 13px;
        margin-top: 9px;
        position: relative; }
        @media all and (max-width: 767px) {
          .wayfx-collection__progress .wayfx-collection__progress-steps ul li .wayfx-text {
            font-size: 0.6em; } }
        .wayfx-collection__progress .wayfx-collection__progress-steps ul li .wayfx-text.wayfx-free-shipping {
          margin-right: -50px; }
          @media all and (max-width: 767px) {
            .wayfx-collection__progress .wayfx-collection__progress-steps ul li .wayfx-text.wayfx-free-shipping {
              margin-right: -32px; } }
        .wayfx-collection__progress .wayfx-collection__progress-steps ul li .wayfx-text span {
          display: block;
          font-size: 13px;
          line-height: 1.1; }
          @media all and (max-width: 767px) {
            .wayfx-collection__progress .wayfx-collection__progress-steps ul li .wayfx-text span {
              font-size: 12px; } }
        .wayfx-collection__progress .wayfx-collection__progress-steps ul li .wayfx-text .mobile {
          display: none; }
        @media all and (max-width: 767px) {
          .wayfx-collection__progress .wayfx-collection__progress-steps ul li .wayfx-text .desktop {
            display: none; }
          .wayfx-collection__progress .wayfx-collection__progress-steps ul li .wayfx-text .mobile {
            display: inline; } }
      .wayfx-collection__progress .wayfx-collection__progress-steps ul li.wayfx-collection__progress-step--completed:before {
        visibility: hidden; }
      .wayfx-collection__progress .wayfx-collection__progress-steps ul li.wayfx-collection__progress-step--completed:after {
        visibility: visible; }

.wayfx-collection__progress.loading * {
  visibility: hidden; }

.wayfx-collection__progress.loading .wayfx-collection__progress-header {
  margin: 0 20%;
  color: transparent;
  visibility: visible;
  display: flex;
  align-items: center;
  justify-content: center; }
  .wayfx-collection__progress.loading .wayfx-collection__progress-header:before {
    content: "";
    width: 50%;
    height: 13px;
    display: block;
    background: #e4e5e7;
    border-radius: 100px; }

.wayfx-collection__progress.loading .wayfx-collection__progress-wrapper {
  background: #e4e5e7;
  visibility: visible; }

li.step-left {
  text-align: left !important; }

li.step-left:after,
li.step-left:before {
  left: 0;
  right: auto !important; }

.drawer .wayfx-collection__progress {
  padding-top: 0px;
  border-bottom: 1px solid #e4e4e4; }
  .drawer .wayfx-collection__progress .wayfx-collection__progress-steps ul li .wayfx-text {
    font-size: 11px; }

.drawer .wayfx-collection__progress-bar {
  margin-left: 10px; }

.discounts__vip_access_only {
  display: none !important; }
