.f-product-title {
    font-size: var(--t-m);
    color: var(--color-black);
    letter-spacing: 1.6px;
    line-height: normal;
    margin-bottom: 8px;
    margin-top: 0;
  }

  .f-product__subheading {
    color: var(--color-black);
    font-size: var(--t-s);
    margin-top: 0;
    margin-bottom: 12px;
  }

  @media all and (max-width: 768px) {
    .f-product__subheading {
      line-height: normal;
    }

    .f-product__full-details {
      display: flex;
    }

    .f-product__yotpo .standalone-bottomline .star-clickable {
      flex-direction: row;
    }
  }

  .f-product__actions .yotpo-stars {
    display: flex;
    gap: 4px;
  }

  .f-product__actions .yotpo .standalone-bottomline .star-clickable {
    gap: 10px;
  }

  .f-product__actions .yotpo a.text-m ,
  .f-product__yotpo .standalone-bottomline .star-clickable .rating-star {
    font-size: 14px;
  }

  .f-product__wishlist button {
    display: flex;
  }
