:root {
  --yotpo-bg-colour: #f5f5f5;
}

.yotpo * {
  color: black !important;
}

.yotpo.yotpo-main-widget {
  overflow: visible;
}

.yotpo .main-widget .yotpo-review .yotpo-header .yotpo-review-stars .yotpo-user-related-fields .yotpo-user-field .yotpo-user-field-description,
.yotpo .main-widget .yotpo-comment .yotpo-header .yotpo-review-stars .yotpo-user-related-fields .yotpo-user-field .yotpo-user-field-description,
.yotpo .main-widget .yotpo-question .yotpo-header .yotpo-review-stars .yotpo-user-related-fields .yotpo-user-field .yotpo-user-field-description,
.yotpo .main-widget .yotpo-onsite-upload .yotpo-header .yotpo-review-stars .yotpo-user-related-fields .yotpo-user-field .yotpo-user-field-description {
  font-style: normal !important;
}

.yotpo .main-widget .yotpo-review .yotpo-footer,
.yotpo .main-widget .yotpo-comment .yotpo-footer,
.yotpo .main-widget .yotpo-question .yotpo-footer,
.yotpo .main-widget .yotpo-onsite-upload .yotpo-footer {
  margin-left: 0;
}

.yotpo .main-widget .suggested-topic {
  background: #f6f6f6;
  text-transform: uppercase;
  padding: 8px 16px;
  border-radius: 5px;
  line-height: normal;
  display: inline-block;
  text-align: center;
  margin-right: 12px;
  margin-bottom: 12px !important;
}

.yotpo.yotpo-main-widget .yotpo-icon-btn, .yotpo .yotpo-modal-dialog .yotpo-icon-btn {
  background-color: #f6f6f6;
  border: none !important;
  line-height: 21px !important;
}

.yotpo .suggested-topics-row {
  margin-bottom: 12px !important;
  display: inline;
}

.yotpo .more-filters-text {
  font-size: 12px;
  font-weight: 400;
  letter-spacing: 1.2px;
  text-transform: uppercase;
  margin-left: 8px;
}

.yotpo .more-filters-btn {
  margin-bottom: 0 !important;
}

.yotpo .main-widget .yotpo-reviews-header,
.yotpo .main-widget .yotpo-reviews-filters {
  padding-bottom: 0;
  padding-top: 0;
  margin-top: 24px;
}

.yotpo .reviews-amount {
  margin-bottom: 12px;
  display: block;
  width: auto;
}

.yotpo .yotpo-user-name {
  font-weight: 600 !important;
  margin-right: 8px !important;
}

.yotpo .yotpo-review .yotpo-main .yotpo-multiple-rating-fields .yotpo-user-related-fields .yotpo-user-field .yotpo-user-field-description, .yotpo .yotpo-comment .yotpo-main .yotpo-multiple-rating-fields .yotpo-user-related-fields .yotpo-user-field .yotpo-user-field-description, .yotpo .yotpo-question .yotpo-main .yotpo-multiple-rating-fields .yotpo-user-related-fields .yotpo-user-field .yotpo-user-field-description, .yotpo .yotpo-onsite-upload .yotpo-main .yotpo-multiple-rating-fields .yotpo-user-related-fields .yotpo-user-field .yotpo-user-field-description {
  font-style: normal !important;
  margin-right: 0;
}

.yotpo .yotpo-main {
  margin-top: 24px !important;
}

.yotpo .yotpo-footer {
  display: grid;
  grid-template-columns: max-content 1fr;
  grid-template-areas:
    "name name"
    "date date"
    "likes share";
  align-items: center;
  row-gap: 5px;
}

@media (min-width: 450px) {
  .yotpo .yotpo-footer {
    grid-template-areas:
      "name date"
      "likes share";
  }
}

@media (min-width: 749px) {
  .yotpo .yotpo-footer {
    grid-template-areas:
      "name name"
      "likes likes"
      "share share";
  }
}

@media (min-width: 1025px) {
  .yotpo .yotpo-footer {
    grid-template-areas:
      "name name"
      "likes share";
  }
}

.yotpo .yotpo-footer .yotpo-clr {
  display: none;
}

.yotpo .yotpo-grouping-reference {
  grid-area: name;
  margin-top: 0 !important;
}

.yotpo .footer-additional-actions {
  grid-area: date;
  display: block !important;
}
@media (min-width: 749px) {
  .yotpo .footer-additional-actions {
    display: none !important;
  }
}

@media (min-width: 450px) {
  .yotpo .footer-additional-actions {
    text-align: right;
  }
}

.yotpo .footer-actions {
  grid-area: share;
  margin-bottom: 0 !important;
  text-align: right;
}

@media (min-width: 749px) {
  .yotpo .footer-actions {
    text-align: left;
  }
}

@media (min-width: 990px) {
  .yotpo .footer-actions {
    text-align: right;
  }
}

.yotpo .yotpo-helpful {
  grid-area: likes;
  margin-left: -10px;
}

@media (min-width: 559px) {
  .yotpo .yotpo-helpful {
    margin-left: 0;
  }
}

@media (min-width: 749px) and (max-width: 860px) {
  .yotpo .yotpo-helpful div[data-type="up"] {
    margin-left: 0 !important;
  }
  .yotpo .yotpo-helpful .label-helpful {
    width: 100%;
  }
}

.yotpo .suggested-topics-row .suggested-topic,
.yotpo .suggested-topics-row .suggested-topic-expand {
  margin-bottom: 0;
}

.yotpo .suggested-topics-row .suggested-topic .suggested-topic-text,
.yotpo .suggested-topics-row .suggested-topic-expand .suggested-topic-text {
  font-size: 12px;
  letter-spacing: 1.2px;
  padding: 0;
}

.yotpo .main-widget .yotpo-nav-content>div.yotpo-active,
.yotpo .main-widget .yotpo-reviews.yotpo-active {
  display: grid;
  grid-template-columns: minmax(0, 1fr);
  grid-gap: 0.8rem;
}

@media (max-width: 1024px) {
  .yotpo .main-widget .yotpo-reviews {
    width: calc(100% + 96px);
    left: -48px;
    position: relative;
  }
}

@media (max-width: 768px) {
  .yotpo .main-widget .yotpo-reviews {
    width: calc(100% + 48px);
    left: -24px;
    position: relative;
  }
}

.yotpo .yotpo-pager {
  display: flex;
  gap: 12px;
}

.yotpo .yotpo-page-element {
  background-color: #f6f6f6 !important;
  color: #000 !important;
  transition: color 0.3s ease, background-color 0.3s ease;
  padding: 8px;
  text-align: center;
  border-radius: 5px;
  width: 44px !important;
  height: 44px !important;
  vertical-align: middle;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 !important;
  font-size: 12px;
  letter-spacing: 1.2px;
}

.yotpo .yotpo-page-element.yotpo_previous,
.yotpo .yotpo-page-element.yotpo_next {
  width: 70px !important;
  position: relative;
}

.yotpo .yotpo-page-element.yotpo_previous::before,
.yotpo .yotpo-page-element.yotpo_next::before {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
}

.yotpo .yotpo-page-element.yotpo-active {
  background-color: #000 !important;
  color: #fff !important;
}


.yotpo .main-widget .yotpo-review {
  background: #f6f6f6;
  border-radius: 5px;
  padding: 2rem;
  margin: 0;
  border-top: none;
}

.yotpo .main-widget .yotpo-review .yotpo-main {
  margin: 24px 0;
}

.yotpo .yotpo-review-stars .yotpo-user-related-fields {
  display: none;
}

.yotpo .yotpo-main .yotpo-multiple-rating-fields .yotpo-user-related-fields {
  display: block !important;
  margin: 30px 0 0 !important;
}

.yotpo .yotpo-display-wrapper .bottom-line-items-container {
  margin: 0 0 16px;
  padding: 0;
}

.yotpo .yotpo-display-wrapper .bottom-line-items {
  margin: 0;
  text-align: left;
}

.yotpo .yotpo-display-wrapper .avg-score {
  font-size: 16px;
  line-height: 1;
  width: auto;
  padding-top: 0;
}

.yotpo .write-question-review-buttons-container {
  display: flex;
  justify-content: space-between;
  gap: 12px;
  padding: 0 !important;
}

.yotpo .write-question-review-button {
  height: auto;
  padding: 8px 16px !important;
  line-height: 1;
  border-radius: 5px;
  margin: 0 !important;
}

.yotpo .write-question-review-buttons-container .write-question-review-button .write-question-review-button-text {
  letter-spacing: 1.2px;
  font-size: 12px;
  font-weight: 400;
}

.yotpo .write-question-review-button .yotpo-icon {
  display: none;
}

.yotpo .write-question-review-button-text {
  font-family: "ridley_groteskmedium";
  font-size: 12px;
  font-weight: 500;
  letter-spacing: 1.2px;
  line-height: 1 !important;
  text-transform: uppercase;
}

.yotpo input[type="search"],
.yotpo .yotpo-dropdown-button {
  border: 2px solid var(--color-black);
  border-radius: 5px;
}

.yotpo .yotpo-dropdown-button {
  padding: 6px 10px 0 12px;
}

.yotpo .yotpo-display-wrapper .rating-stars-container {
  vertical-align: text-top;
  height: auto;
  margin-left: 8px;
}


.yotpo .yotpo-display-wrapper .yotpo-icon-star,
.yotpo .yotpo-display-wrapper .yotpo-icon-half-star,
.yotpo .yotpo-display-wrapper .yotpo-icon-empty-star {
  height: 14px !important;
  font-size: 14px !important;
  line-height: 1 !important;
}

.yotpo .yotpo-display-wrapper .reviews-qa-labels-container {
  display: none;
}

.yotpo .yotpo-label-container {
  display: none;
}

.yotpo .new-yotpo-small-box.reviews {
  margin: 24px 0 0;
  border-bottom: 1px solid #c5c5c5 !important;
}

.yotpo .yotpo-nav ul .yotpo-nav-tab.yotpo-active .yotpo-nav-wrapper {
  border-bottom: 1px solid #000 !important;
  padding-bottom: 5px;
  font-weight: 400;
}

.main-widget .yotpo-nav-primary ul {
  margin-bottom: -5px;
}

@media only screen and (max-width: 541px) {
  .filters-container .free-text-search {
    width: 100%;
  }

  .yotpo input[type="search"] {
    padding: 12px 12px 12px 40px;
    border: 1px solid #000;
  }

  .yotpo input[type="search"]::placeholder {
    color: #000;
    text-transform: uppercase;
    letter-spacing: 1.2px;
    font-size: 12px;
  }
}

.yotpo .yotpo-reviews-filters {
  margin: 0;
  border: none;
  padding-top: 20px;
}

.yotpo .filters-container-title {
  font-size: 12px;
  line-height: 1.5;
  font-weight: 400;
  padding: 0;
}

.yotpo .free-text-search-input {
  margin-bottom: 12px;
  border: 1px solid #000 !important;
  font-weight: 400;
}

.yotpo .free-text-search-input::placeholder,
.yotpo input[type="search"],
.yotpo .yotpo-dropdown-button {
  color: #000;
  font-size: 12px;
  letter-spacing: 1.2px;
  text-transform: uppercase;
  font-weight: 400;
}

.yotpo input[type="search"],
.yotpo .yotpo-dropdown-button {
  border: 1px solid #000;
  font-size: 12px !important;
  font-weight: 400 !important;
}

.yotpo .yotpo-dropdown-button .selected {
  font-size: 12px !important;
  font-weight: 400 !important;
}

.yotpo .yotpo-dropdown-button {
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 8px 16px;
}

.yotpo .yotpo-reviews-header {
  margin: 0;
  padding: 0 0 14px;
}

.yotpo .reviews-header .reviews-amount {
  font-size: 12px;
  line-height: 1.5;
  font-weight: 400;
}

.yotpo .yotpo-review {
  padding: 24px !important
}

.yotpo .yotpo-reviews .total-reviews-search {
  display: none;
}

.yotpo .yotpo-verified-buyer .yotpo-icon-profile {
  margin-right: 12px !important;
}

.yotpo .yotpo-verified-buyer .yotpo-icon-circle-checkmark {
  font-size: 16.5px;
}

.yotpo .yotpo-verified-buyer .yotpo-icon-circle-checkmark::before {
  content: "";
  font-size: 0;
  display: block;
  height: 16.5px;
  width: 16.5px;
  background: black;
  border-radius: 50%;
  border: 2px solid var(--color-white);
}

.yotpo .yotpo-verified-buyer .yotpo-header-element {
  display: flex !important;
  flex-direction: row;
  flex-wrap: wrap;
}

.yotpo .yotpo-verified-buyer .yotpo-review-stars {
  width: 100%;
  margin-top: 4px !important;
}

.yotpo .yotpo-verified-buyer .yotpo-review-date {
  display: none;
}

.yotpo .yotpo-verified-buyer .yotpo-icon-profile {
  background: #E7E7E7 !important;
}

.yotpo .yotpo-review .footer-actions .yotpo-icon-seperator {
  display: none;
}

.yotpo .mobile-filters-container {
  margin-left: 24px;
}

.yotpo .content-title.yotpo-font-bold[role="heading"] {
  font-size: 16px;
  padding-bottom: 8px;
  margin-top: 24px;
}

.yotpo input[type="button"].primary-color-btn,
.yotpo .mobile-filters-footer-btn .footer-text {
  color: var(--color-white) !important;
}

.yotpo .mobile-filter-radio-button {
  position: relative;
}
.yotpo .mobile-filter-radio-button input[type="radio"] {
  position: absolute !important;
  width: 100% !important;
}

@media screen and (min-width: 749px) {
  .yotpo .yotpo-display-wrapper .bottom-line-items-container {
    margin: 0;
  }

  .yotpo .new-yotpo-small-box.reviews {
    margin: 36px 0 0;
  }

  .yotpo .yotpo-reviews-header {
    padding: 32px 0 18px;
  }

  .yotpo .write-question-review-button {
    padding: 9px 32px !important;
  }

  .yotpo .yotpo-review {
    padding: 48px !important
  }

  .yotpo .yotpo-verified-buyer .yotpo-review-date {
    display: block;
    padding-top: 2px !important;
  }

  .yotpo .content-title.yotpo-font-bold[role="heading"] {
    padding-bottom: 6px;
  }
}

@media screen and (max-width: 541px) {
  .yotpo .main-widget .write-question-review-buttons-container .write-question-review-button {
    width: auto;
    white-space: nowrap;
  }
}

@media screen and (max-width: 558px) {
  .filters-container .free-text-search,
  .filters-container .free-text-search-input {
    width: 100%;
  }

  .yotpo .main-widget .suggested-topic {
    display: inline;
  }

  .yotpo .suggested-topics-row {
    display: flex;
    margin-bottom: 0 !important;
  }
}
