.hero-with-list{
  position:relative;
}

.hero-with-list__image{
  width:100%;
  height:100%;
  object-fit:cover;
  display:block;
  position:absolute;
  top:0;
  left:0;
}

.hero-with-list__grid{
  position:relative;
  display:flex;
  justify-content:space-between;
  align-items:center;
  flex-flow:row wrap;
  max-width:1140px;
  width:100%;
  margin:0 auto;
  padding: 106px 0;
}

.hero-with-list__text-block{
  width:50%;
  max-width: 444px;
  text-align:center;
  padding:25px;
}

.hero-with-list__list-block{
  width:50%;
  padding:25px;
}

.hero-with-list__h-xl{
  font-size:57px;
}

.hero-with-list__rte{
  margin-bottom:30px;
}

.hero-with-list__list-heading{
  font-size: 18px;
  font-weight: 700;
  letter-spacing: 2px;
  margin-bottom: 32px;
  text-transform:uppercase;
}

.hero-with-list__ticklist{
  margin-bottom:30px;
}

.hero-with-list__text-btn,.hero-with-list__list-btn{
  width: 310px;
  max-width: 100%;
}


@media all and (max-width: 1023px) {
  .hero-with-list__grid{
    justify-content:center;
    flex-flow:column wrap;
    padding: 25px 0;
  }

  .hero-with-list__text-block,.hero-with-list__list-block{
    width:100%;
    max-width:350px;
    text-align:center;
  }

}

@media all and (max-width: 1023px) {
  .hero-with-list__h-xl{
    font-size:42px;
  }
}
