<div class="block-grid block-grid--policy cell-l cell-r ct cb tac">
  <h1>{{  page.title }}</h1>
  <div class="rte tal">{{ page.content }}</div>
</div>

<style type="text/css">

  .block-grid--policy{
    max-width:753px;
  }

  #pc--opt-out-form-container{
    margin-bottom:var(--gutter-unit-x2);
  }

  .pc--opt-out-form{
    margin:0 auto;
  }

  .pc--opt-out-form-field_wrapper .field{
    display:flex;
    flex-flow: row wrap;
    align-items:center;
  }
  
  .pc--opt-out-form-field_wrapper  .field__label{
    order:0;
    width:100%;
  }

  .pc--opt-out-form-field_wrapper .field__input{
    order:1;
    width:calc(100% - 70px);
    padding-right:20px;
  }

  .pc--opt-out-form-button{
    order:3;
    width:70px;
  }

  .pc--opt-out-form-message{
    gap:5px;
  }

  .pc--opt-out-form-message svg{
    width:20px;
    height:20px;
  }


</style>