<div>{{ page.content }}</div>
             <script defer src="https://cdn.channelize.io/live-broadcast/shopify/client.js"></script>
             <script>
                window.initChannelizeLivebroadcastShopifyOptions = {
                    settings: {
                        share: {
                            baseUrl: window.top.location.origin + '/pages/streams',
                        },
                    }
                }
             </script>